name: Notify on deploy

on:
  workflow_run:
    workflows: ["pages-build-deployment"]
    types:
      - completed

jobs:
  notify:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
      - name: Send notification
        run: curl -d "Blog live" ntfy.sh/rob137-blog-k9x2
